@model IEnumerable<AppointmentIndexModelView>

@{ ViewBag.Title = "Agendamentos";}

<div >
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Lista de Agendamentos</li>
                    </ol>
                </nav><br /><br />
                <div class="row">
                    <div class="col-md-12 table-responsive-md">
                        <a class="btn btn-xs btn-outline-success float-md-right" asp-action="Create" asp-route-id="1"> Novo Agendamento</a>
                        <br /><br />
                        <table class="table table-striped text-center">
                            <thead>
                                <tr>
                                    <th>Agendamento</th>
                                    <th>Data de ínicio</th>
                                    <th>Data de término estimada</th>
                                    <th>Data de término real</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.AppointmentName</td>
                                        <td>@item.StartDate.ToString("dd/MM/yyyy")</td>
                                        <td>@item.ExpectedFinalDate.ToString("dd/MM/yyyy")</td>
                                        <td>@item.RealFinalDate.ToString("dd/MM/yyyy")</td>
                                        <td>
                                            @if (item.Completed)
                                            {
                                                <p>Finalizado</p>
                                            }
                                            else
                                            {
                                                <p>Em andamento</p>
                                            }
                                        </td>
                                        <td>
                                            <a class="text-primary" asp-action="Edit" asp-route-id="@item.Id">
                                                Editar
                                            </a>
                                            <a class="text-primary" asp-action="Detalhes" asp-route-id="@item.Id">
                                                Detalhes
                                            </a>
                                            <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id">
                                                Deletar
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table><br />

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>