@model IEnumerable<AppointmentIndexModelView>

@{ ViewBag.Title = "Agendamentos";}

<div>
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Lista de Agendamentos</li>
                    </ol>
                </nav><br /><br />
                <div class="row">
                    <div class="col-md-12 table-responsive-md">
                        <a class="btn btn-xs btn-outline-success float-md-right" asp-action="Create">Novo Agendamento</a>
                        <br /><br />
                        <table class="table table-striped text-center">
                            <thead>
                                <tr>
                                    <th>Agendamento</th>
                                    <th>Data de ínicio</th>
                                    <th>Data de término estimada</th>
                                    <th>Data de término real</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td> <a class="text-primary" asp-action="Details" asp-route-id="@item.AppointmentId">@item.AppointmentName</a></td>
                                    <td>@item.StartDate.ToString("dd/MM/yyyy")</td>
                                    <td>@item.ExpectedFinalDate.ToString("dd/MM/yyyy")</td>
                                    @if (item.Completed)
                                    {
                                        <td>@item.ExpectedFinalDate.ToString("dd/MM/yyyy")</td>
                                        <td>Finalizado</td>
                                        <td>
                                            <a class="text-primary" asp-action="Details" asp-route-id="@item.AppointmentId">
                                                Detalhes
                                            </a>
                                            <a class="text-danger" asp-action="Delete" asp-route-id="@item.AppointmentId">
                                                Deletar
                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>-</td>
                                        <td>Em andamento</td>
                                        <td>
                                            <a class="text-primary" asp-action="Done" asp-route-id="@item.AppointmentId">
                                                Concluir
                                            </a>
                                            <a class="text-warning" asp-action="Edit" asp-route-id="@item.AppointmentId">
                                                Editar
                                            </a>
                                            <a class="text-danger" asp-action="Delete" asp-route-id="@item.AppointmentId">
                                                Deletar
                                            </a>

                                        </td>
                                    }

                                </tr>
                                }
                            </tbody>
                        </table><br />

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>